* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-SemiBold.ttf");
    font-weight: 700;
}
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family:"Inter" ;
    src: url("./assets/fonts/static/Inter-Regular.ttf");
    font-weight: 400;
}


html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: hsl(0, 0%, 0%);
    font-family: Inter;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 8%);
    color: white;
    width: 20rem;
    height: 31.1875rem;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 10px;
}

.avatar-img {
    width: 4.2rem;
    border-radius: 50%;
}

.avatar-jessica {
    font-weight: 700;
    margin-top: 10px;
}

.location {
    margin-top: -10px;
    margin-bottom: 15px;
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}

.sub-heading {
       font-size: 14px;
       color: hsl(0, 0%, 70%);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 55%;
}

.social {
    height:1.8rem ;
     width: 100%;
     background-color: hsl(0, 0%, 20%);
     border: 1px solid hsl(0, 0%, 8%);
     border-radius: 7px;
     color: white;
     font-family: Inter;
     font-weight: 600;
     text-align: center;
     display: inline-block;
     cursor: pointer;
     padding-bottom: 24px;
     padding-top: 12px;
     
    
}

